
  <!-- <form>
    <div class="form-group">
      <label>User Name</label>
      <input type="text" [(ngModel)]="username" class="form-control" [ngModelOptions]="{standalone: true}"> 
    </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"> 
      </div>

    <button type="submit" (click)="fun()" class="btn btn-primary">Submit</button>

    
  </form> -->


<!-- Reactive Forms -->
<!-- <label for="name">Name: </label>
<input id="name" type="text" [formControl]="name">

<p>Value: {{ name.value }}</p>

<button type="button" (click)="updateName()">Update Name</button>

<form [formGroup]="profileForm">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
</form>

<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
<router-outlet></router-outlet>
<app-first></app-first>
<app-second></app-second>